In [ ]:
import numpy as np
import pandas as pd
import os

In [ ]:
os.getcwd()
Tennis_df = pd.read_csv('tennis-master-file.csv', sep = ';')

In [ ]:
#For simplicity's sake, all columns names are turned to uppercase.
Tennis_df.columns = [x.upper() for x in Tennis_df.columns]

#Having the columns names stored allow us to take a quick look at all our available features easily.
Tennis_columns = Tennis_df.columns

    

#Tournament date is currently an integer but can be turned to an actual date for time series analysis using datetime.
Tennis_df.TOURNEY_DATE = pd.to_datetime(Tennis_df['TOURNEY_DATE'], format='%Y%m%d')

#Replacing the words player with P to use less space when looking at the df (same with tourney and T)
##NOTE : FIND WAY TO DO BOTH MANIPULATIONS IN ONE LINE
Tennis_df.columns = Tennis_df.columns.str.replace('PLAYER', 'P')
Tennis_df.columns = Tennis_df.columns.str.replace('TOURNEY', 'T')

In [ ]:
features_dtypes = Tennis_df.dtypes

In [ ]:
#Rounding up the age of all players, not necessary to keep it so granular imo
#str.replace is used so that python can interpret the column values as flaots. Otherwise it sees 28,4 as two entities for instance

In [ ]:
Tennis_df['P1_AGE'] = Tennis_df['P1_AGE'].str.replace(',', '.').astype('float', errors = 'ignore').dropna()

In [ ]:
basicTennis_df= Tennis_df[['P1_WINS','SCORE', 'MINUTES','T_NAME','SURFACE', 'P1_NAME', 'P2_NAME','P1_RANK','P2_RANK','T_DATE',"P1_AGE","P2_AGE"]]

In [ ]:
basicTennis_df.dtypes

We observe that the data types of most columns is "object". In reality, most columns are either of type string or numerical. We can now work on changing that, starting with the age of the players which will be turned into an int.

In [ ]:
#How to apply a transformation to multiple columns at the same time? unsuccessful attempt below
#The aimed result is in the next box.
#basicTennis_df['P1_AGE','P2_AGE'] = basicTennis_df['P1_AGE','P2_AGE'].apply(drop(basicTennis_df[['P1_AGE','P2_AGE'] =='#VALEUR!']))

In [ ]:
#For both players 1 and 2, there is one row with a missing age so we remove that match from the database.
basicTennis_df.drop(basicTennis_df.loc[basicTennis_df['P1_AGE'] == "#VALEUR!"].index, inplace=True)
basicTennis_df.drop(basicTennis_df.loc[basicTennis_df['P2_AGE'] == "#VALEUR!"].index, inplace=True)

In [ ]:
#the comma is interpreted as a separator, we need to change it to a dot and then interpret our values as floats
basicTennis_df['P1_AGE'] = basicTennis_df['P1_AGE'].str.replace(',', '.').astype('float')
basicTennis_df['P2_AGE'] = basicTennis_df['P2_AGE'].str.replace(',', '.').astype('float')

In [ ]:
basicTennis_df['P1_AGE']=basicTennis_df['P1_AGE'].astype('int')
basicTennis_df['P2_AGE']=basicTennis_df['P2_AGE'].astype('int')

The name of the players being also stored as objects, we turn them into strings

In [ ]:
basicTennis_df['P1_NAME']=basicTennis_df['P1_NAME'].astype('string')
basicTennis_df['P2_NAME']=basicTennis_df['P2_NAME'].astype('string')

In [ ]:
basicTennis_df.dtypes